.result {
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0.5em 0;
    min-height: 0.5em;
}

.result pre {
    border: none
}

pre.error {
    color: red
}

.stale {
    opacity: 0.2
}

.hide {
    display: none
}

.CodeMirror-foldmarker {
    background-color: #ffffcc;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline;
    padding: 0 0.5em
}

.CodeMirror-foldmarker:hover {
    cursor: pointer
}
