span.CodeMirror-nonmatchingbracket {color: #f22;}

.CodeMirrorError {
    background-color: red;
}

.wpedit {
    font-family: Menlo, Courier;
}

.wpedit .progress {
    font-size: 11px;
    position: relative;
    height: 12px;
}

.wpedit .progress .text {
    position: absolute;
    top: 0;
    left: 0;
}

.wpedit .progress .fill {
    background-color: #99ccff;
    transition: width 0.08s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

/* these two styles prevent the ~300px empty space below editor; HT customized styling section of http://codemirror.net/2/doc/manual.html */

.wpedit .CodeMirror {
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
    max-height: 80%;
}
.wpedit .CodeMirror-scroll {
    height: auto;
    max-height: 80%;
}

.wpedit button {
    border: 1px solid gray;
    font-family: Menlo;
    background-color: #e0e0e0;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 1em;
    min-width: 100px;
}

.wpedit .cancel {
    margin-left: 5px;
}

.wpedit button:hover {
    cursor: pointer
}

.wpedit button:active {
    background-color: #a0a0a0;
}

.wpedit button:disabled {
    cursor: auto;
    color: gray;
}


.wpedit .result {
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0.5em 0;
    min-height: 0.5em;
    overflow-x: scroll;
}

.wpedit .result pre {
    border: none
}

.wpedit pre.error {
    background-color: red;
    color: white;
}

.wpedit .error-message {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

.wpedit .stale {
    opacity: 0.2
}

.wpedit .hide {
    display: none
}

.wpedit .CodeMirror-foldmarker {
    background-color: #ffffcc;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline;
    padding: 0 0.5em
}

.wpedit .CodeMirror-foldmarker:hover {
    cursor: pointer
}

.wpedit div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #e0e0e0;
}

.wpedit div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: black;
    background-color: #ECAAB9;
}


.wpedit .hidden {
    display: none;
}
