/* main */

.wpedit {
    font-family: Menlo, Courier;
}
.wpedit .hide {
    display: none
}

/* these two styles prevent the ~300px empty space below editor */
/* HT customized styling section of http://codemirror.net/2/doc/manual.html */
.wpedit .CodeMirror {
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
    max-height: 80%;
    clear: both;
}
.wpedit .CodeMirror-scroll {
    height: auto;
    max-height: 80%;
}

/* code */
/* -- syntax highlighting */
.CodeMirrorError {
    background-color: red;
}
.wpedit div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #e0e0e0;
}
.wpedit div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: black;
    background-color: #ECAAB9;
}
/* -- folding */
.wpedit .CodeMirror-foldmarker {
    background-color: #ffffcc;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline;
    padding: 0 0.5em
}
.wpedit .CodeMirror-foldmarker:hover {
    cursor: pointer
}

/* results */
.wpedit .result {
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0.5em 0;
    min-height: 0.5em;
    overflow-x: scroll;
    position: relative;
    max-height: 600px; /* todo: figure out why a percentage doesn't work here */
}

.wpedit .result pre {
    border: none;
    white-space: pre-wrap;
}

.wpedit pre.error {
    background-color: red;
    color: white;
}

.wpedit .error-message {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

/* -- console method intercepting */
.result .icon {
    border-radius: 5px;
    padding: 0 3px;
    float: left;
    color: white;
    margin: 4px 2px 0px 2px;
    font-size: 12px;
}
.icon.warn {
    background-color: orange;
    color: black
}
.icon.info {
    background-color: #2387d2;
}
.icon.error {
    background-color: red;
}
.result .count:not(:empty) {
    font-family: Helvetica;
    font-size: 10px;
    float: left;
    margin: 5px;
    color: gray
}

/* meta drawer */
.meta {
    background-color: #eee;
    font-size: 12px;
    padding: 1em;
    color: black;
}

/* progress bar */

.wpedit .progress {
    font-size: 11px;
    position: relative;
    height: 12px;
}

.wpedit .progress .text {
    position: absolute;
    top: 0;
    left: 0;
}

.wpedit .progress .fill {
    background-color: #99ccff;
    transition: width 0.08s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

/* buttons */
.wpedit button {
    border: 1px solid gray;
    font-family: Menlo;
    background-color: #e0e0e0;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 1em;
    min-width: 100px;
}

.wpedit .drawerButton {
    float: right;
    color: #ddd;
    z-index: 120;
    background-color: white;
    border: 1px solid #fff;
    padding: 0.5em 0.5em;
    min-width: 0;
}

.wpedit .drawerButton:hover {
    color: #99ccff;
}

.wpedit button:focus { /* remove outline from clicked buttons */
    outline:0;
}

.wpedit .cancel {
    margin-left: 5px;
}

.wpedit button:hover {
    cursor: pointer
}

.wpedit button:active {
    background-color: #a0a0a0;
}

.wpedit button:disabled {
    cursor: auto;
    color: gray;
}
